# git
*.gitignore

# cpp

check_if_s_can_be_converted/.idea
check_if_s_can_be_converted/cmake-build-debug
check_if_s_can_be_converted/tests/.idea
check_if_s_can_be_converted/tests/cmake-build-debug

print_one_hundred/.idea
print_one_hundred/cmake-build-debug

calculates_the_length_of_a_string/.idea
calculates_the_length_of_a_string/cmake-build-debug

revert_string/.idea
revert_string/cmake-build-debug
